@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Orbitron:wght@500&family=Roboto+Slab&family=Source+Sans+Pro&family=Space+Mono:wght@400;700&display=swap');
@import url("buttons.css");
:root{
 --blue:#3e4555;
}
*{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
main{
    min-height: calc(100vh-138px);
}

body {
    font-size: 1.4rem;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Space Mono', monospace;
}

#showcase {
    background: linear-gradient(to bottom, rgba(212, 173, 161, 0.4),rgba(191, 133, 115, 0.4)) ,url("https://media.istockphoto.com/id/1342504764/photo/female-eating-in-front-of-tv.jpg?b=1&s=170667a&w=0&k=20&c=i_8FAnA2uZs-BCgR9W9gFSacqcgBWX4Mko_oj13YaQQ=");
    background-size: cover;
    background-position: center;
    height: 40vh;
    width: 100%;
    opacity: 0.6;
    position: relative;
    
}
#showcase .content{
    position: absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(46, 76, 109, 0.3);
    padding: 2rem;
    width: 60%;
    border-radius: 1rem;
}
#showcase h1{
    position: absolute;
    top: 50%;
    margin:0;
    color:#fff;
    left:50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 576px){
    #showcase{
        height: 50vh;
    }
}

@media (min-width: 768px){
#showcase{
    height: 60vh;
}

}

@media (min-width: 992px){
    #showcase{
        height: 70vh;
    }
}

#showcase-title {
    color: #fff;
    position: absolute;
    top:50%;
    margin:0;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
   
}

.main-header {
    background-color: #d4ada1;
    padding: 0.8rem 1.6rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    
}


.main-nav {
    display: inline-block;
    width: calc(100% - 10rem);
    text-align: right;

}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav_item {
    display: inline-block;
    margin: 0 1rem;

}

.main-header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

.main-nav_item:last-child{
    display: none;
}

@media (max-width:600px){
    .main-nav_item{
        display: none;
    }
    .main-nav_item:last-child{
        display: block;
    }
    .responsive .main-nav_item{
        display: block;
        text-align: left;
        margin:1rem 0;
    }
    .responsive .main-nav{
        display: block;
    }
    .responsive .main-nav_item:last-child{
        position:absolute;
        right: 40px;
        top:6px;

    }
}


.main-nav_item a {
    text-decoration: none;
    color: #fff;
}

.main-nav_item a:hover,
.main-nav_item:hover::before {
    color:var(--bg-color);
}

.main-nav_item a:active,
.main-nav_item:active::before {
    color: #fff;
}

#how-it-works {
    background-color: #fff;
    padding:1rem;
    text-align: center;
}

.row {
    margin-top: 4rem;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col-4{
    float: left;
    width: 25%;
}

.col-3 {
    Float:left;
    width: 30%;
}

.col-2 {
   float:left;
    width: 50%;
}

@media (max-width: 768px){
    [class*="col-"]{
        width: 100%;
    }
}

.icon-box h3 {
    color:var(--blue);
    font-size: 2.6rem;
}

.icon-box span {
    color: var(--blue);
}

.features_left {
    background: linear-gradient(to bottom, rgba(212, 173, 161, 0.4),rgba(191, 133, 115, 0.4)) ,url("https://i.pinimg.com/564x/56/95/e2/5695e2704e01a328a69bd00bcef83dc2.jpg");
    background-size: cover;
    background-position: center;
}

.features_right {
    background-color: #edf5f7;
    vertical-align: top;
    text-align: center;
    padding: 3rem;
   
}
.features_left,
.features_right{
    height: 35rem;
}

.features_right h3 {
    font-size: 3rem;
}


.section-title{
    text-align:center;
    margin-bottom: 4rem;
    color: var(--blue);
    font-size: 3rem;
    
}
.plan{
    
    text-align: center;
    padding: 5px;
}
.inner-plan{
    background-color: #edf5f7;
    padding: 25px 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: box-shadow .5s;

}
.inner-plan:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.60) 0px 6px 6px;
}
.plan__badge{
    background-color: #fff;
    color:#d4ada1;
    padding: 8px;
    border-radius: 5px;
}
.recommended_plan{
    color:#fff;
    background: #2e4c6d;
}
.plan_features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan_features li{
    margin:6px 0;
}
@media (min-width:768px){
    .plan--featured{
        position: relative;
        top:-20px;
    }
}

.clearfix::after{
    content:"";
    display:block ;
    clear:both;
}
.container{
 width: 100%;
 padding-left: 10px;
 padding-right: 10px;
}
#backtotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#backtotop i{
    color:#3e4555;
    font-size: 45px;
    transition: color .6s;
}
#backtotop i:hover{
    color: var(--blue);
}
.counter{
    background: linear-gradient(to bottom, #d4ada1 0% , #bf8573 100%);
    text-align: center;
    padding: 50px;
}
.counter_-item{
    font-size:30px;
    font-weight: 500;
    color:#fff;
}
.counter h4{
    margin:0;
    color:#fff;
}
.card-container{
    padding: 10px;
}

.card{
   
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
   /* position: relative;
    top:0; */
    transition: all .3s;
   
}
.card:hover{
   /* top: -10px; */
   transform: translateY(-10px);
}
.card-image{
    max-height: 350px;
}
.card-body{
    padding: 30px;
}
.img-fluid{
    width: 100%;
}
footer{
    background:var(--blue);
    padding: 10px;
   margin-top: 20px;
}
footer a {
    color:#fff;
    font-size:18px;
    text-decoration: none;
}
footer ul{
    margin:0;
    padding: 0;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
}
#social-links{
    text-align:right ;
}
.fab{
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
}
.fab:hover{
 opacity: 0.7;
}
.fa-facebook{
    background-color: #3b5998;
    color:#fff
}
.fa-twitter{
    background-color: #55acee;
    color:#fff
}
.fa-facebook{
    background-color: #3b5998;
    color:#fff
}
.fa-instagram{
    background-color: #125688;
    color:#fff
}
@media (min-width: 576px){
    html{
        font-size: 68%;
    }
    .container{
       margin: 0 auto;
       width: 540px;
    }
}
@media (min-width: 768px){
    html{
        font-size: 72%;
    }
    .container{
        margin: 0 auto;
        width: 720px;
     }
}
@media (min-width: 992px){
    html{
        font-size: 74%;
    }
    .container{
        margin: 0 auto;
        width: 960px;
     }
}
@media (min-width: 1200px){  
    html{
        font-size: 78%;
    }
     .container{
    margin: 0 auto;
    width: 1140px;
 }}
@media (min-width: 1400px){
    html{
        font-size: 80%;
    }
    .container{
        margin: 0 auto;
        width: 1320px;
     }
}